<%= render :partial => 'messages' %>

<% unless @record.nil? %>
  <% if params[:action] == "create" -%>
    <%= upload_error_messages_for 'record' %>
  <% else %>
    <%= error_messages_for 'record' %>
  <% end -%>
<% end %>