<ul>
 <li><%= link_to("Config", :controller => "in_session", :action=> "config") %></li>
 <li><%= link_to("Upload GFF3", :controller => "in_session", :action=> "upload") %></li>
 <li><%= link_to("Logout", :controller => "in_session", :action=> "do_logout") %></li>
</ul>

<div id="filelist">
 <h1>Own GFF3 files:</h1>
 <% User.find(session[:user]).annotations.each do |gff3| %>
   <%= link_to gff3.name, :action => "view", :annotation => gff3.id %>
 <% end %>
</div>