<html>
 <body bgcolor="silver">
  <table width="100%" height="100%">
   <tr height="100%">
    <td valign="center" align="center">Select a sequence id above</td>
   </tr>
  </table>
 </body>
</html> 
