<% span=params[:end_pos].to_i-params[:start_pos].to_i%>
<html>
<%=  javascript_include_tag "browserhelper" %>
<body style="cursor: move; background-image:url(<%=
 url_for(:action => "browser_image",
         :annotation => params[:annotation],
         :seq_id => params[:seq_id],
         :start_pos => params[:start_pos],
         :end_pos => params[:end_pos])          %>); background-repeat:no-repeat; background-position:0px 0px; margin: 0 0 0 0">

<table width="100%" height="100%">
 <tr>
  <td align="center" valign="top" colspan="3"><%= 
    link_to "Zoom(+)",
            :action => "browser",
            :annotation => params[:annotation].to_i,
            :seq_id => params[:seq_id].to_i,
            :start_pos => (params[:start_pos].to_i+span/4),
            :end_pos => params[:end_pos].to_i-span/4
                                              %></td>
 </tr>
 <tr>
  <td align="left"><%=
    link_to "<<",
            :action => "browser",
            :annotation => params[:annotation].to_i,
            :seq_id => params[:seq_id].to_i,
            :start_pos => params[:start_pos].to_i-span/2,
            :end_pos => params[:end_pos].to_i-span/2
                   %></td>
  <td align="center"></td>
  <td align="right"><%= 
   link_to ">>",
           :action=>"browser",
           :annotation => params[:annotation].to_i,
           :seq_id => params[:seq_id].to_i,
           :start_pos => params[:start_pos].to_i+span/2,
           :end_pos => params[:end_pos].to_i+span/2
                    %></td>
 </tr>
 <tr>
  <td align="center" valign="bottom" colspan="3"><%=
   link_to "Zoom(-)",
           :action=>"browser",
           :annotation => params[:annotation].to_i,
           :seq_id => params[:seq_id].to_i,
           :start_pos => params[:start_pos].to_i-span/4,
           :end_pos => params[:end_pos].to_i+span/4
                                                 %></td>
 </tr>
</table>

</body>
</html>