<html>
  <head>
    <title>GenomeBrowser</title>
    <meta content="">
    <style></style>
  </head>
  <body>
   <h1>Welcome to the GenomeViewer</h1>
    <%= link_to  "Login", :controller => "login", :action=> "login"%> 
  </body>
</html>