   <h1>Welcome to the GenomeViewer</h1>
   
    <p>
    The <i>GenomeViewer</i> is a viewer for GFF annotations. It is based 
    on the <i><a href="http://www.genometools.org" title="Genome Tools">Genome Tools</a></i>. In particular the visualisation is based on the 
    C library <a href="http://www.genometools.org/libgtview.html" title="Genome Tools libGtView library"><tt>libgtview</tt></a>.
    </p>
    <p>
    It is possible to create an account (select "register" from the menu on the right), upload own GFF files and visualize them online. A public repository of GFF annotations is also available and own files can be marked as public and added to the directory.
    </p>    
    <p>
    <img src="http://www.genometools.org/images/annotation.png" alt="[Genome Annotation Example]">
    </p>
    <p>
    If you are interested in gene prediction, also have a look at <a href="http://genomethreader.org" title="GenomeThreader gene prediction
      software"><i>GenomeThreader</i></a>.
    </p>
    <p> 
      As this web application is <a href="http://www.genometools.org/license.html" title="Genome Tools License">free-licensed</a>, it is also possible to download its source code and install it on a local server. 
    </p>
    
