<p>
  <i>GenomeViewer</i> is a web-based viewer for
  <a href="http://song.sourceforge.net/gff3.shtml"
    title="GFF3 format specification">GFF3</a> annotations.
  It is based on <a href="http://genometools.org/annotationsketch.html">
    <tt>AnnotationSketch</tt></a> which is included in <i><a href="http://genometools.org" title="GenomeTools">GenomeTools</a></i>.
</p>
<p>
  It is possible to create an account (select "Register" from the menu on
  the top), upload your own GFF3 files and visualize them online. A public
  repository of GFF3 annotations is also available and your own files can be
  marked as public and thereby added to the directory.
</p>
<p>
  You can browse the public files with via the "Public Files" menu on top or jump directly to
  an <a
    href="http://genomeviewer.org/gremme/encode_known_genes_Mar07.gff3/chr21/33000000/33100000"
        title="GenomeViewer example view">example view</a>.
</p>
<p>
  <img src="http://genometools.org/images/annotation.png" alt="[Genome
  Annotation Example]">
</p>
