/* general settings */

body {
  font-family: Verdana, Geneva, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  color: darkblue;
}

/* menu div */

#menu {
  font-size: 80%;
  padding: 0.5em 0em 2.5em;
  border-bottom: 1px dotted black;
}
#menu a.logo {
  color: darkblue;
  font-weight: bold;
  font-size: 150%;
  float: left;
  border : 0px;
  padding: 0px;
  text-decoration: none;
}
#menu a.logo:hover {
  color: gray;
  background: rgb(90%, 90%, 20%);
}
#menu ul {
  display: inline;
  float: right;
  margin: 0px;
}
#menu li {
  list-style-type: none;
  display: inline;
  margin-bottom: 10px;
}
#menu li a {
  list-style-type: none;
  border: 1px solid black;
  padding: 3px 5px;
  margin-right: 10px;
  text-decoration: none;
}
#menu li a:link {
  color: white;
  background: rgb(60%, 60%, 90%);
}
#menu li a:visited {
  color: white;
  background: rgb(60%, 60%, 90%);
}
#menu li a:hover {
  color: gray;
  background: rgb(90%, 90%, 20%);
}
#menu li a#current {
  color: gray;
  background: rgb(90%, 90%, 20%);
}

/* main content div */

#main {
  margin-right: 2%;
  margin-left: 2%;
  line-height: 1.6em;
}
#main a:link {
  color: blue;
  text-decoration: none;
  border-bottom: thin dotted blue;
}
#main a:visited {
  color: blue;
  text-decoration: none;
  border-bottom: thin dotted blue;
}
#main a:hover {
  background: rgb(90%, 90%, 20%);
}

/* forms */

.nice {
  padding: 2px;
  border: 1px solid darkgray;
}
.nice:focus {
  background-color: #FFFFCC;
}

.fieldWithErrors input{
 background-color:#FFAAAA;
}

.formError {
 font-size: 80%;
 color: red;
}

/*** viewer ***/

/* seq_id buttons */

#viewer .seq_id {
  list-style-type: none;
  border : 1px solid black;
  display: block;
  padding: 0px 7px 0px 7px;
  text-decoration: none;
  background: rgb(60%, 60%, 90%);
  color: white;
}

#viewer .seq_id:link {
  color: white;
  background: rgb(60%, 60%, 90%);
}

#viewer .seq_id:hover {
  color: gray;
  background: rgb(90%, 90%, 20%);
}

#viewer .seq_id:visited {
  color: white;
}

/* command bar */

#command_bar {
  background: rgb(60%, 60%, 90%);
  min-height: 40px;
  max-height: 40px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
}

#position_form {
  display: inline;
}

#command_bar a {
  border: 0px;
}
#command_bar a:link {
  border: 0px;
}
#command_bar a:hover {
  border: 0px;
}
#command_bar a:visited {
  border: 0px;
}

#command_bar img {
  border: 0px;
}

/* orientation bar */

#total {
  background: rgb(60%, 60%, 90%);
  display: block;
  border: 1px black dashed;
  max-height: 20px;
  min-height: 20px;
}

#current {
  background: rgb(90%, 90%, 20%);
  max-height: 20px;
  min-height: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 0%;
  text-align: center;
  color: gray;
  overflow: hidden;
}

/* image */
#image img{
  border: 0;
}

/* tooltips */

.tooltip_body {
  background: white;
  border: 1px solid darkblue;
}

.tooltip_header {
 background: darkblue;
 color: white;
}

/* configuration */

div.square {
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  border-style: ridge;
}
