body {
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: large;
  margin: 20%;
  text-align: center;
  line-height: 1.6em;
  border: dashed black;
  padding: 20px;
  background-color: #EEEEEE;
  background-repeat: no-repeat;
  background-position: left;
}
h1, h2, h3, h4, h5, h6 {
  color: #dc143c;
  text-decoration: underline;
}
#footer {
  margin-top: 50px;
  font-size: small;
}
a:link {
  color: #dc143c;
  text-decoration: none;
  border-bottom: thin dotted #dc143c;
}
a:visited {
  color: gray;
  text-decoration: none;
  border-bottom: thin dotted gray;
}
a:hover {
  background: white;
}
