<div id="image">
  <%= image_tag url_for(:action => :image,
           :username => @annotation.user.username,
           :annotation => @annotation.name,
           :seq_region => @sequence_region.seq_id,
           :start_pos => @start,
           :end_pos => @end), :alt => '' %>
</div>
<%= draggable_element :image, 
                      :constraint => '"horizontal"',
                      :onEnd => "function(){#{ajax_replacer}}" -%>