<div id="image">
  <img src="/image/<%=@uuid%>" usemap='#imap' alt=''/>
  <%= map_tag @info %>
</div>
<%= draggable_element :image, 
                      :constraint => '"horizontal"',
                      :onEnd => "function(){#{ajax_replacer}}" -%>
