<div id="image">
  <img src="/image/<%=@uuid%>" alt=''/>
</div>
<%= draggable_element :image, 
                      :constraint => '"horizontal"',
                      :onEnd => "function(){#{ajax_replacer}}" -%>
