<div id="orientation_bar">
  <div id="total">
    <div id="current" 
         style="width: <%=@current_width%>%;
                margin-left: <%=@current_left_margin%>%;">
    </div>
  </div>
</div>
