<div id="seq_ids_table">
  <table>
    <% counter = @seq_ids_per_line -%>
    <% @sequence_regions.each do |region| -%>
      <%= "<tr>" if (counter % @seq_ids_per_line) == 0 -%>
      <td>
      <%= link_to region.seq_id, {:action=> "index",
                                  :username => @annotation.user.username,
                                  :annotation => @annotation.name,
                                  :seq_region => region.seq_id},
                                 {:class => 'seq_id'}  %>
      </td>
      <% counter = (counter == 1) ? @seq_ids_per_line : counter-1 -%>
      <%= "</tr>" if (counter % @seq_ids_per_line) == 0 -%>
    <% end -%>
    <%# add the resting td to have a conform table -%>
    <% unless counter == @seq_ids_per_line -%>
      <% counter.downto(1) do -%><td/><% end -%>
      </tr>
    <% end -%>
  </table>
</div>