<ul>
  <li><%= link_to "Home", 
                        :controller => "default", 
                        :action=> "index" %>
  </li>
  <li><%= link_to "Register", 
                        :controller => "register", 
                        :action=> "register" %>
  </li>
</ul>