<html>
 <head>
  <title>Login</title>
  <%= stylesheet_link_tag "default", :media => "all" %>
 </head>
 <body>
  <h1>Login</h1>
  <%= start_form_tag :action=>"do_login" %>
   <table>
    <tr>
     <td><p>User:</p></td>
     <td><%= text_field_tag "user", nil, :maxlength=>16 %></td>
    </tr>
    <tr>
     <td><p>Password:</p></td>
     <td><%= password_field_tag("pass", nil, :maxlength=>16) %></td>
    </tr>
    <tr>
     <td colspan="2"><%=submit_tag%></td>
    </tr>
   <table>
  <%= end_form_tag %>
 </body>
<html>