<html>
 <head>
  <title>Login Failed</title>
  <%= stylesheet_link_tag "default", :media => "all" %>
 </head>
 <body>
  <div id="main">
   <h1>You have NOT logged in</h1>
   <a href="javascript:history.back()">Back</a>
  </div>
 </body>
</html>