<html>
 <head>
  <title>Register</title>
  <%= stylesheet_link_tag "default", :media => "all" %>
 </head>
 <body>
 <div id="main">
  <h1>Bad data</h1>
  <p>You supplied bad data. Check your eMail address!</p>
  <p><a href="javascript:back">Back</a></p>
 </div>
 </body>
</html> 
