<html>
 <head>
  <title>Register</title>
 </head>
 <body>
 <h1>Login already in use</h1>
 <p>The login that you requested is already assigned to another user</p>
 <p><a href="javascript:back">Back</a></p>

 </body>
</html> 
