<h1>Recover your password</h1>
<% form_tag :action => "send_password_recovery_email" do%>
  <table>
    <tr>
      <td>Enter the e-mail address you used for your account registration:</td>
    </tr>
    <tr>
      <td><%= text_field :user, :email, :size => 48, :value => flash[:email] %></td>
    </tr>
    <tr>
      <td><%=submit_tag "Recover password"%></td>
    </tr>
    <tr>
      <td style="color:red"><%= flash[:errors]%></td>
    </tr>
  </table>
<% end %>