 <h1>You have successfully created an account for genomeviewer!</h1>
 <p>An e-mail containing your password has not been send to you!</p>
 <p><%= link_to  "Login", :controller => "login", :action=> "login"%></p>