<html>
 <head>
  <title>Register</title>
  <%= stylesheet_link_tag "default", :media => "all" %>
 </head>
 <body>
 <div id="main">
 <h1>You have successfully created an account for genomeviewer!</h1>
 <p>An EMail containing your password has not been send to you!</p>
 <p><%= link_to  "Login", :controller => "login", :action=> "login"%></p>
 </div>
 </body>
</html> 
