<h1>Users:</h1>
 <%
  User.find(:all).entries.collect { |user|
   if user.annotations.find_by_public(true)
 %>
  <%= link_to (user.name+" ("+user.id.to_s+")", :action=> "showuserfiles", :user_id => user.id) %>
  <%= "<br>" %>

 <%
   end
  }
 %>