<html>

<table height="100%" border="1" width="100%">
<tr>
 <td width="150px" valign="top">
  <%= render :partial => "in_session/nav/navframe" %>
 </td>
 <td width="*" valign="top">
  <%=yield%>
 </td>
</tr>

</table>


</html>