<html>
 <head>
  <%= stylesheet_link_tag "default","menu.css","in_session", :media => "all" %>
 </head>
  <div id="menu">
   <%= render :partial => "in_session/nav/navframe" %>
  </div>
  <div id="main">
   <%=yield%>
  </div>

</html>